{% extends "admin/change_list.html" %}

{% block extrahead %}
    {{ block.super }}
    <script>
        function reloadTable() {
            fetch(window.location.href, {
                headers: {
                    "X-Requested-With": "XMLHttpRequest"
                }
            })
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const newTable = doc.querySelector('#result_list');
                if (newTable) {
                    document.querySelector('#result_list').innerHTML = newTable.innerHTML;
                }
            })
            .catch(err => console.error('AJAX error:', err));
        }

        setInterval(reloadTable, 1000);
    </script>
{% endblock %}
